{% extends "html/base.html"%}
{% block title %}数据报表{% endblock %}
{% block script %}

{% endblock %}

{% block content%}
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <button type="button" class="btn btn-info" onclick="loadData()">刷新</button>
        </div>
        <div class="row">
              <table class="table table-bordered" id="table_data">
                    <thead>
                        <tr>
                            <th>
                                code
                            </th>
                            <th>
                                次数
                            </th>
                             <th>
                                量
                             </th>
                             <th>
                                area
                             </th>

                            <th>
                                close
                            </th>
                            <th colspan="4" >
                                1
                            </th>
                            <th colspan="4">
                                2
                            </th>
                            <th colspan="4" >
                                3
                            </th>
                            <th colspan="4">
                                4
                            </th>
                            <th colspan="4" >
                                5
                            </th>
                            <th colspan="4">
                                6
                            </th>
                            <th colspan="4" >
                                7
                            </th>
                        </tr>
                    </thead>
                  <tbody>

                  </tbody>
              </table>
        </div>
    </div>

{% endblock%}

{% block footScript %}
<script type="text/javascript">
    function loadData(){
        request("/shares/lastNewStockList",null,function(data){
            var trs = "";
            for(var i=0;i<data.length;i++){
                var tr = "<tr>";
                var href = "http://basic.10jqka.com.cn/mobile/"+data[i]["code"]+"/profilen.html";
                tr+="<td><a href='"+href+"' target='_blank'>"+data[i]["code"].replace(/0/g,"A")+"</a></td>";
                tr+="<td>"+data[i]["high_count"]+"</td>";
                var sz = 0;
                var _tr="";
                var d = data[i].data;
                var close = data[i]["last_close_price"];
                for(var j=0;j<d.length;j++){
                    _tr+="<td "+(d[j][0]=='-'?"style='color:red'":'')+">"+d[j][4]+"("+d[j][7]+")</td>";
                    _tr+="<td>"+((d[j][4]-close)*100/close).toFixed(2)+"</td>";
                    _tr+="<td>"+((d[j][2]-close)*100/close).toFixed(2)+"</td>";
                    _tr+="<td>"+((d[j][3]-close)*100/close).toFixed(2)+"</td>";
                    close = d[j][4];
                }
                sz = data[i]["public_volume"]*close/100000000;
                tr+="<td>"+data[i]["public_volume"]/10000+"("+sz.toFixed(2)+")"+"</td>";
                tr+="<td>"+data[i]["area"]+"</td>";
                tr+="<td>"+data[i]["last_close_price"]+"</td>";


                tr = tr+_tr;
                tr+="</tr>";
                trs+=tr;
            }
            $("#table_data tbody").empty().append(trs);
        },null)
    }
    loadData();
</script>


{% endblock%}