{% extends "html/base.html"%}
{% block title %}数据报表{% endblock %}
{% block script %}

{% endblock %}
{% block content%}
<input type="text" id="code"><input type="button" onclick="queryCode()" value="查询"><br>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 500px;height:300px;"></div>
{% endblock%}

{% block footScript %}
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
// 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require(
        [
            'echarts',
            'echarts/chart/bar', // 使用柱状图就加载bar模块，按需加载
            'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {

            var option = {
                tooltip: {
                    show: true,
                    trigger: 'item'
                },
                legend: {
                    data: ['邮件营销', '联盟广告', '直接访问', '搜索引擎', '新增']
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '邮件营销',
                        type: 'bar',
                        data: [220, 232, 101, 234, 190, 330, 210]
                    },
                    {
                        name: '联盟广告',
                        type: 'bar',
                        stack: '总量',
                        data: [120, '-', 451, 134, 190, 230, 110]
                    },
                    {
                        name: '直接访问',
                        type: 'bar',
                        stack: '总量',

                        data: [
                            320, 332, 100, 334, 330, 320
                        ]
                    },
                    {
                        name: '搜索引擎',
                        type: 'bar',

                        stack: '总量',
                        data: [
                            620, 732, 734, 890, 930, 820
                        ],
                        markLine: {
                            data: [
                                {type: 'average', name: '平均值'},
                                {type: 'max'},
                                {type: 'min'}
                            ]
                        }
                    }
                    ,
                    {
                        name: '新增',
                        type: 'bar',


                        data: [
                            350, 862, 468, 952, 639, 252
                        ],
                        markLine: {
                            data: [
                                {type: 'average', name: '平均值'},
                                {type: 'max'},
                                {type: 'min'}
                            ]
                        }
                    }
                ]
            };

            option.xAxis[0].data=[];
            option.series[0];
            option.series[1];
            option.series[2];
            option.series[3];
            option.series[4];
            var moneyEchart = ec.init(document.getElementById('money_graph'));

            moneyEchart.setOption(option);

            moneyEchart.setOption(option);
        }
    );

</script>
{% endblock %}
