{% extends "html/base.html"%}
{% block title %}谨慎点，稳重{% endblock %}
{% block script %}

{% endblock %}

{% block content%}
<p style="font-size: 20px">稳是第一位，不要冲昏了自己头脑（宁可少挣也不要亏损）</p>
<p style="font-size: 20px">基金和股票操作建议一样（基金行情不好请半仓持有，且不要定投）</p>

<table class="table table-bordered">
  <tr>

  </tr>
    <tbody>
    <tr>
        <td style="color:red">大环境不好（有回调风险）</td>
        <td>请清仓，如果有想套利，可选当前避险盘（黄金）</td>
        <td style="color:red">请勿最高（重要）</td>

    </tr>
    <tr>
        <td rowspan="5">大环境好</td>
        <td>选择连红数据</td>
        <td>可选择当前热点概念</td>
    </tr>
    <tr>
        <td>推荐股票请慎重选择</td>
        <td>不要急着买入</td>
    </tr>
    <tr>
        <td>不要平凡换仓位</td>
        <td>慎重</td>
    </tr>
    <tr>
        <td>不是特别好的行情</td>
        <td>不要满仓(请留出一二层仓位做T)</td>
    </tr>
    <tr>
        <td>如果选择太多</td>
        <td>请谨慎买入（不要平繁切换）</td>
    </tr>
    <tr>
        <td rowspan="3">大环境震荡期</td>
        <td>请半仓（避免风险）</td>
        <td>可选多连红涨幅不高的，切记追涨，乱操作</td>
    </tr>
    <tr>
        <td>后续环境有变差，或者不利的因数存在，请空仓，不要<span>赌博</span></td>
        <td>可选多连红涨幅不高的，切记追涨，乱操作</td>
    </tr>
     <tr>
        <td style="color:red">当日不要乱选股票买入，排除不利的条件</td>
        <td style="color:red">请前一晚做好操作攻略，不要随意操作</td>
    </tr>
    <tr>
        <td style="color:red">基金操作</td>
        <td>环境不好，请提前减半操作，风险未过去，中途切勿操作</td>
        <td>谨慎</td>
    </tr>

    </tbody>
</table>
<h2>读取下面建议(优先上面建议)</h2>
<p>上午大跌可加仓，上午大涨要减仓，</p>
<p>下午大涨只减仓，下午大跌次日买 。</p>
<p>上午下跌不卖票， 逢低加仓T + 0 ，（大环境不好，请及时清空）</p>
<p>下午拉高不追涨， 逢高减仓T + 1 。（不强势股票做好T操作）</p>
<p>上午拉高看十点，下午拉高看二点，</p>
<p>股若强势十点封，股若不强二点封。</p>
{% endblock%}